.menu-component {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .menu-cover {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        background-color: black;
        z-index: 1;
    }

    .menu-nav {
        position: absolute;
        left: -4rem;
        background-color: white;
        width: 4rem;
        height: 100%;
        opacity: 1;
        z-index: 2;
        transition: all .3s ease;

        &.show-nav {
            // transform: translate(4rem);
            left: 0rem;
        }
    }
}
